# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
.settings
.project
.springBeans
.classpath
logs
keystore.p12
bin
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
*.war
.factorypath
venv
.vscode
./.scalafmt
bn_admin/src/main/resources/application-prod.yml
bn_oauth/src/main/resources/application-prod.yml
bn_passport/src/main/resources/application-prod.yml
